/* GENERAL STYLES */

header {
    background-color: #d8e2dc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body {
    background-color: #d8e2dc;
    display: inline;
    justify-content: center;
}

p {
    font-size: 14pt;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: #745350;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Dosis, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
}

button {
    font-family: Dosis, Arial, Helvetica, sans-serif;
    color:#745350;
    border-width: 1px solid #745350;
    /* border-color: #745350; */
    border-radius: 20px;
    margin: 20px; 
    height: 100px;
    width: 200px;
}

/* HEADER STYLES */

header img {
    display: flex;
    justify-content: center;
}

header p {
    margin-top: -20px;
    padding: 10px;
    font-size: 18pt;
    font-weight: 600;
    text-align: center;    
}

/* BODY STYLES */

.card {
    padding: 30px; 
}

.timer {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.question-container {
    font-family: Dosis, Arial, Helvetica, sans-serif;
    color: #745350;
    /* margin: 20px;      */
}

button:hover {
    background-color: #e7c1a9; 
    border-width: 5px solid #ecaa8a;
    border-color: #ecaa8a; 
}